* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  #cart-main {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: rgb(250, 247, 247);
    font-family: sans-serif;
  }
  
  #cartHead {
    width: 90%;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
  }
  
  #explorItem {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  
  #cartAlert {
    font-size: small;
    color: red;
    font-weight: bold;
    padding-bottom: 5px;
    display: none;
  }
  
  #explorItem button {
    width: 100px;
    height: 40px;
    margin: auto;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 0px;
    text-align: center;
  }
  #cartHead > div {
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  #cartHead h1 {
    text-align: center;
    font-family: sans-serif;
  }
  
  #cartParentDiv {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  #cartChild1 {
    width: 48%;
    height: auto;
  }
  
  #cartProducts {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    font-family: "Courier New", Courier, monospace;
  }
  
  .items {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      padding: 10px 10px 10px 10px;
  }
  
  .items img {
    width: 30%;
    height: 100%;
  }
  .items2 {
    width: 65%;
    height: 100%;
  }
  
  .items1 {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    color: rgb(49, 49, 49);
  }

  .items1 img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }

  .items2 h3 {
    font-size: medium;
    margin-top: 5px;
    color: rgb(49, 49, 49);
  }

  .items2 p {
    margin-top: 5px;
    color: green;
    font-weight: bold;
  }
   .items2 h5{
    margin-top: 5px;
    text-decoration: line-through;
    color: rgb(49, 48, 48);
  }
  
  
  
  #cartChild2 {
    width: 50%;
    height: 700px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  #paymentContent {
    width: 90%;
    height: auto;
    margin: auto;
  }
  
  #discount,
  #deliveryCharges {
    font-weight: bold;
  }
  
  .amountText {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  #discountPage{
    color: red;
    font-weight: bold;
    text-decoration: none;
  }
  
  hr {
    margin-top: 10px;
  }
  
  #checkout {
    width: 100%;
    height: 60px;
    margin: 30px 0px 30px 0px;
    border: none;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: bold;
  }
  
  #paymentInfoDiv {
    width: 100%;
    height: auto;
    margin: 10px 0px 40px 0px;
  }
  
  .boldP {
    font-weight: bold;
    color: grey;
  }
  
  .infoP {
    font-size: 15px;
    color: rgb(53, 51, 51);
    margin-top: 10px;
  }
  
  #imgDiv {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .infoImg {
    width: 80px;
  }
  
  #discount {
    color: red;
  }
  
  @media only screen and (max-width: 980px) {
  
    #cartHead {
      width: 96%;
    }
  
    #cartHead > div {
      font-size: small;
    }
  
    #cartHead h1 {
      font-size: x-large;
    }
  
    #cartParentDiv {
      width: 96%;
    }
  
    #cartChild1 {
      width: 58%;
    }
  
    #cartChild2 {
      width: 40%;
    }
  
    .items {
      height: 220px;
    }
  
    .items img {
      width: 45%;
    }
  
    .items1 img {
      width: 16px;
      height: 16px;
    }
  
    .items2 {
      width: 52%;
    }
  
    .items2 h3, .items2 p ,.items2 h5 {
      font-size: small;
    }
  
    #paymentContent {
      width: 90%;
      height: auto;
      margin: auto;
    }
  
    .amountText a {
      color: rgb(66, 66, 66);
      font-size: small;
      font-weight: bold;
    }
  
    #checkout {
      font-size: medium;
    }
  
    .boldP {
      font-size: 12px;
    }
  
    .infoP {
      font-size: small;
      color: rgb(53, 51, 51);
      margin-top: 10px;
    }
  
    #imgDiv {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  
    .infoImg {
      width: 50px;
    }
  
  }
  
  @media only screen and (max-width: 450px) {
  
    #cartHead {
      width: 100%;
      margin-bottom: 0px;
    }
  
    #cartHead > div {
      font-size: 8px;
    }
  
    #cartHead h1 {
      font-size: medium;
    }
  
    #cartParentDiv {
      width: 90%;
      display: grid;
    }
  
    #cartChild1 {
      width: 100%;
    }
  
    #cartChild2 {
      width: 100%;
      margin-top: 20px;
    }
  
    .items {
      height: 160px;
    }

    .items img {
      width: 35%;
    }

    .items2 {
      width: 62%;
    }
  
    .items1 h4 {
      font-size: x-small;
    }
  
    .items1 img {
      width: 14px;
      height: 14px;
    }
  
    .items2 h3 {
      font-size: small;
    }
  
    .infoImg {
      width: 60px;
    }
  
  }
  